.dsm_progress_bar .dsm-progress-bar-tracker-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #eeeeee;
}

.dsm_progress_bar .dsm-progress-bar-tracker-horizontal .dsm-current-progress {
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  display: flex;
  width: 80.72%;
}

.dsm_progress_bar
  .dsm-progress-bar-tracker-horizontal
  .dsm-current-progress-percentage {
  inset-inline-end: 0.5em;
  inset-inline-start: auto;
  position: absolute;
}

/***for circle css******/

.circle {
  fill: transparent;
  transform-origin: 0px 0px;
}

.current-progress {
  fill: transparent;
  display: block;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  display: block;
}
